
#octopus {
  position: fixed;
  display: block;
  margin: auto;
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

#hat {
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 2;
}

#glasses {
  position: absolute;
  top: 182px;
  left: 100px;
  z-index: 2;
}