


#octopus {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
  outline: 1px solid red;

}

#hat {
  position: relative;
  top: 15px;
  left: 30px;
  z-index: 2;
  outline: 1px solid red;
}

#glasses {
  position: absolute;
  top: 182px;
  left: 100px;
  z-index: 2;
}

